# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\maria\Documents\AMaria Alejandra E\Auniversidad\9noSemestre\redes\lab3\lab3_1_redes\client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
